.gradient-custom {
/* fallback for old browsers */
background: #dbd7df;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(230, 227, 233), rgb(233, 236, 240));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(225, 223, 228), rgb(221, 223, 228))
}