<table class="table align-middle mb-0 bg-white table table-bordered table-striped">
    <thead class="bg-light">
        <tr>
            <th *ngFor="let col  of gridColumns">
                {{col.colName}}
            </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let colObj of gridData">
        <td *ngFor="let col of gridColumns">
            {{colObj[col.colName]}}
         </td>
         <td>
             <a (click)="selectedGrid(colObj)" class="btn btn-primary" >Edit</a>
         </td>
         <td>
             <a (click)="deletedGrid(colObj)" class="btn btn-primary">Delete</a>
         </td>
         <td>
            <a (click)="blockGrid(colObj)" class="btn btn-primary">Block</a>
        </td>
      </tr>
      
    </tbody>
  </table>
